.app {
  text-align: center;
  padding: 20px;
  background: #1f0475;
}

.crazy-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: coral;
}

#paragraphInput {
  margin-right: 10px;
}

.crazy-button {
  padding: 10px;
  background-color: #c9701d;
  color: rgb(163, 25, 25);
  border: none;
  cursor: pointer;
}
.my-label {
  color: #cee13a;
}
